<h1>購買課程</h1>

<%= form_for(@order, url: course_orders_path(@course)) do |f| %>

    <div data-controller="payment" data-payment-token-value="<%= @token %>">
      <div data-payment-target="dropin"></div>
      <input type="hidden" name="nonce" data-payment-target="nonce" />  
    </div>

    <div class="field">
      <%= f.label("recipient") %>
      <%= f.text_field(:recipient) %>
    </div>

    <div class="field">
      <%= f.label("address") %>
      <%= f.text_field(:address) %>
    </div>
  
    <div class="submit">
      <%= f.submit("Submit")%>
    </div>
<% end %>