<h1>課程列表</h1>

<%= link_to "新增課程", new_course_path if user_signed_in? %>

<% @courses.each do |course| %>
  <div class="card">
    <%= course.name %>
    <%= course.price %>
    <%= course.intro %>
    <%= course.hour %>
    <%= link_to "review", course_path(course) %>
    <%= link_to "修改", edit_course_path(course) %>
    <%= link_to "刪除", course_path(course), method: "delete", data: { confirm: "Are You Sure" } %>
  </div>
<% end %>